{% comment %}
Renders a product card using "Grid" style
Accepts:
- max_height: {Number} Maximum height of the product's image (required)
- product: {Object} Product Liquid object (required)
- show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

Usage:
{% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="productCustomcolor" style="background:{{ product.metafields.my_fields.product_color }}">
  <div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
    <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
      <span class="visually-hidden">{{ product.title }}</span>
    </a>

    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign preview_image = product.featured_media.preview_image -%}
    {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
    {% endunless %}
    <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
      {% if product.metafields.my_fields.product_short_title %}
      	{{ product.metafields.my_fields.product_short_title }}
      {% else %}
      	{{ product.title }}
      {% endif %}
    </div>
    {% if product.metafields.my_fields.product_bags %}
    <p style="color:#fff">{{ product.metafields.my_fields.product_bags }}
      {% endif %}
    <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
      <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
        <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
          <img id="{{ img_id }}"
               class="grid-view-item__image lazyload"
               alt="{{ preview_image.alt }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ preview_image.aspect_ratio }}"
               data-sizes="auto"
               data-image>
        </div>
      </div>
    </div>

    <noscript>
      {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
      <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
    </noscript>

    {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
    {% comment %}End automatically added Judge.me widget{% endcomment %}


    {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

  </div>


  <!-- <form method="post" action="/cart/add" data-productid="{{ product.id }}">
<input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.variants.first.id }}" />
<input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<input type="submit" value="Add to cart" class="btn custom_add_to_cart" />
</form> -->

  <div class="product-template__container page-width"
       id="ProductSection-{{ section.id }}"
       data-section-id="{{ section.id }}"
       data-section-type="product"
       data-enable-history-state="true"
       data-ajax-enabled="{{ settings.enable_ajax }}"
       >
    {% comment %}
    Get first variant, or deep linked one
    {% endcomment %}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_image_zoom_size = '1024x1024' -%}
    {%- assign product_image_scale = '2' -%}
    {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
    {%- assign compare_at_price = current_variant.compare_at_price -%}
    {%- assign price = current_variant.price -%}


    <div>
      <div class="grid__item {{ product_description_width }}">
        <div class="product-single__meta">

          {% capture "form_classes" -%}
          product-form product-form-{{ section.id }}
          {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
          {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}

          {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
          {{ form | payment_terms }}


          <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}"
                    {%- if variant == current_variant %} selected="selected" {%- endif -%}
                    >
              {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
            {% endfor %}
          </select>

          <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
               data-error-message-wrapper
               role="alert"
               >
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
          </div>

          <div class="product-form__controls-group product-form__controls-group--submit">
            <div class="product-form__item product-form__item--submit
                        {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                        {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
                 >
             <center> <button type="submit" name="add"
                      {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                      aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                      class="btn custom_add_to_cart{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                      {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                      data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                  {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
                <span class="hide" data-loader>
                  {% include 'icon-spinner' %}
                </span>
               </button></center>
            </div>
          </div>
          {% endform %}
        </div>
        <p class="visually-hidden" data-product-status
           aria-live="polite"
           role="status"
           ></p>
        <p class="visually-hidden" data-loader-status
           aria-live="assertive"
           role="alert"
           aria-hidden="true"
           >{{ 'products.product.loader_label' | t }}</p>


      </div>
    </div>
  </div>

  {% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  {% endunless %}




</div>